{deps, [
    {lager, "3.6.1"},
    {gun, "1.0.0-pre.5"},
    {jsx, "2.9.0"}
]}.

{shell, [
    {apps, [bb]},
    {config, "config/dev.config"}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{provider_hooks, [{post, [{compile, xref}]}]}.
