[
    {bb, [
        {d, 8},
        {fee, 0.03},
        {stream_url, "stream.binance.com"},
        {stream_port, 9443},
        {rest_url, "api.binance.com"},
        {rest_port, 443},
        {currency_url, "api.coindesk.com"},
        {api_key, <<"">>},
        {api_secret, <<"">>},
        {recv_window, 5000}
    ]},
    {lager, [
        {crash_log, "crash.log"},
        {log_root, "log"},
        {handlers, [
            {lager_console_backend, [{level, info}]},
            {lager_file_backend, [
                {level, debug},
                {file, "debug.log"},
                {size, 10485760}
            ]}
        ]}
    ]}
].
